{{ content_for_index }}

{% comment %}Lighting Instructions{% endcomment %}
<div>
	<a href="/pages/how-to-light-coconara-cocomazaya-coconut-natural-hookah-charcoal"><img src="{{ 'Lighting Instruction Rev 2.jpg' | asset_url }}" style="width:100%;" border="0" alt="How to light charcoal" title="How to light charcoal"></a>
</div>